.date {
    color: #707070;
    padding-top: 16px;
    padding-bottom: 32px;
}

.btnContainer {
    padding-top: 16px;
}

.cancelBtn {
    border: 1px solid #dedede;
    margin-right: 16px;
}

.saveBtn {
    background: #ff5c00;
    color: white;
}
