.form {
    padding-top: 80px;
}

.date {
    color: #707070;
    padding-top: 16px;
    padding-bottom: 32px;
}

.btnContainer {
    padding-top: 16px;
    margin-bottom: 30px;
}

.cancelBtn {
    border: 1px solid #dedede;
    margin-right: 16px;
}

.saveBtn {
    background: #51557e;
    color: white;
}
