@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  @apply max-w-[800px] mx-auto pt-[60px];
}

.custom-btn {
  @apply rounded-[6px] px-[12px] py-[8px];
}

/* Navbar */
.navbar {
  @apply h-[56px] bg-[#001E4C] px-[20px] flex items-center justify-between text-[18px];
}
.navbar__point {
  @apply relative;
}

.navbar__point::before {
  @apply w-1 h-1 bg-[#EC5F50] rounded inline-block absolute right-1;
  content: "";
}

/* notice */
.notice__container {
  @apply flex items-center justify-between pb-[20px];
}

.notice__left {
  @apply flex items-center;
}

.notice__title {
  @apply text-[32px] font-semibold flex pr-3;
}

.notice__button {
  @apply h-[40px] border border-[#DEDEDE] px-[12px] rounded-[6px];
}

.notice__right {
  @apply relative flex w-[280px] h-[40px];
}

.notice__input {
  @apply border border-[#222222] rounded-[6px] w-full h-full px-3;
}

.notice__searchBtn {
  @apply w-[40px] h-full flex justify-center items-center absolute right-0;
}

/* notice Detail */
.notice-detail__title {
  @apply text-[32px] font-semibold pt-[24px];
}

.notice-detail__date {
  @apply text-[#707070] pb-[32px] pt-[16px];
}

.notice-detail__button {
  @apply pt-[16px] flex gap-4;
}
