@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable";
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

hr {
  border: 0.5px solid #dedede;
}

.max-width {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 64px;
}

.custom-btn {
  border-radius: 6px;
  padding: 10px 12px;
}

.noticeSubtitle {
  color: #222222;
  font-weight: 600;
  padding-bottom: 24px;
}
