@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  @apply max-w-[800px] mx-auto pt-[60px];
}

/* Navbar */
.navbar {
  @apply h-[56px] bg-[#001E4C] px-[20px] flex items-center justify-between text-[18px];
}
.navbar__point {
  @apply relative;
}

.navbar__point::before {
  @apply w-1 h-1 bg-[#EC5F50] rounded inline-block absolute right-1;
  content: "";
}
