.title {
    font-family: "Pretendard Variable";
    border: 1px solid #222222;
    width: 100%;
    resize: none;
    height: 150px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    border-radius: 6px;
    padding: 16px 12px;
}
