.notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 20px;
}

.noticeLeft {
    display: flex;
    align-items: center;

    h1 {
        font-size: 3.5vmin;
        font-weight: 600;
        display: flex;
        padding-right: 12px;
    }

    .writeBtn {
        height: 40px;
        border: 1px solid #dedede;
        padding: 0 12px;
        border-radius: 6px;
    }
}

.noticeRight {
    position: relative;
    display: flex;
    width: 280px;
    height: 40px;

    @media (max-width: 768px) {
        width: 220px;
    }

    input {
        border: 1px solid #d1d5db;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-size: 0.875rem;
        background: #f9fafb;
        outline: none;

        &::placeholder {
            color: #cbcbcb;
        }
    }

    button {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
    }
}
